.font_futura {
  font-family: 'Futura New';
}
h1 {
  font-family: 'SchoolBook';
}

header nav a {
  display: inline-block;
  padding: 40px 80px 40px 0px;
}
#logo {
  float: left;
  padding: 19px 10px;
}
#headnav {
}
.font_futura a:first-of-type {
  padding: 40px 80px 40px 235px;

}
label {
  
  padding: 27px 0px 27px 293px;
}

header {
  margin: 65px 80px 130px;
}
#s1 {
  margin: 0px 0px 150px 110px;
}
#s2 {
  color: #59443F;
  margin: 0px 284px 150px 284px;
}
#s2 article {
  padding: 24px;
}
#s3 {
  margin: 180px 334px 206px 333px;
}
#s6 {
  background-color: #FFC59E;
}