.fl {
  float:left;
}
.schoolbook {
  font-family: "SchoolBook Cyrillic";
}
header {
  margin: 65px 80px 130px;
}
nav {
  height: 100px;
}
#logo {
  float: left;
  padding: 19px 10px;
}
.font_futura {
  font-family: 'Futura New';
  color: #C3B9B5;
  text-transform: uppercase;
  float: left;
}
.font_futura a:first-of-type {
  padding: 40px 40px 40px 135px;
}
header nav a {
  display: inline-block;
  padding: 40px 40px 40px 0px;
}
label {

  padding: 27px 0px 27px 190px;
}

#s1 {
  margin: 0px 0px 150px 110px;
}
h1 {
  font-family: 'SchoolBook';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 110px;
}
#mainul {
float: left;
margin-right: 265px;
}
#mainul li {
  padding: 0px 14px 70px;
}
#mainul li:first-of-type {
  padding: 10px 14px 70px;
}
#button1 {
  float: left;
  font-family: 'Futura New';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
text-transform: uppercase;
padding: 24px 77px;
margin: 50px 385px 0px 0px;
box-shadow: 0px 4px 20px #FFC59E;
border-radius: 33.5px;
background-color: #FFC59E;
color: white;
}

#s2 {
  color: #59443F;
  margin: 0px 284px 150px 284px;
  height: 1100px;
}
#s2 div {
  box-sizing: border-box
}
#s2 article {
  background: #FFFEFE;
  border-radius: 20px;
  width: 25%;
  min-height: 220px;
}
.service {
  
}

#s3 {
  margin: 150px 0px 206px 0px;
  background: #FBF8F8
}
.s3h {
  text-align: center;
}
.history {
  margin: 0 auto;
  
}
#s6 {
  background-color: #FFC59E;
}