body {
  margin: 0%;
}
#s1 {
  margin: 0px 0px 150px 110px;
}
#s2 {
  color: #59443F;
  margin: 0px 284px 150px 284px;
}
#s2 article {
  padding: 24px;
}
#s3 {
  margin: 180px 334px 206px 333px;
}
#s6 {
  background-color: #FFC59E;
}