@font-face {
  font-family: 'Futura New';
  src: url('../Fonts/Future-new/FuturaNewBold-Reg.eot');
  src: local('Futura New Bold Reg'), local('FuturaNewBold-Reg'),
      url('../Fonts/Future-new/FuturaNewBold-Reg.eot?#iefix') format('embedded-opentype'),
      url('../Fonts/Future-new/FuturaNewBold-Reg.woff2') format('woff2'),
      url('../Fonts/Future-new/FuturaNewBold-Reg.woff') format('woff'),
      url('../Fonts/Future-new/FuturaNewBold-Reg.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
	font-family: "SchoolBook Cyrillic";
	src: url("../fonts/schoolbook-cyrillic/schoolbook-cyrillic.eot"); /* IE9 Compat Modes */
	src: url("../fonts/schoolbook-cyrillic/schoolbook-cyrillic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/schoolbook-cyrillic/schoolbook-cyrillic.otf") format("opentype"), /* Open Type Font */
		url("../fonts/schoolbook-cyrillic/schoolbook-cyrillic.svg") format("svg"), /* Legacy iOS */
		url("../fonts/schoolbook-cyrillic/schoolbook-cyrillic.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/schoolbook-cyrillic/schoolbook-cyrillic.woff") format("woff"), /* Modern Browsers */
		url("../fonts/schoolbook-cyrillic/schoolbook-cyrillic.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}