@font-face {
  font-family: 'Futura New';
  src: url('FuturaNewBold-Reg.eot');
  src: local('Futura New Bold Reg'), local('FuturaNewBold-Reg'),
      url('FuturaNewBold-Reg.eot?#iefix') format('embedded-opentype'),
      url('FuturaNewBold-Reg.woff2') format('woff2'),
      url('FuturaNewBold-Reg.woff') format('woff'),
      url('FuturaNewBold-Reg.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}